<% svgBlank = require('./partials/svg_blank.ejs') %>
<% svgDiagonal = require('./partials/svg_diagonal.ejs') %>
<% seoTags= require('./partials/head_seo_tags.ejs') %>
<% cdnLinks= require('./partials/head_cdn_links.ejs') %>
<% socialIcons= require('./partials/social_icons.ejs') %>
<% menuIcon= require('./partials/top_menu_icon.ejs') %>
<% overlayMenu= require('./partials/header_menu.ejs') %>
<% 
	seoOptions = {
		title: 'Contact | Garrett Sherman - Web Developer Toronto',
		desc: "Looking for a web developer? Let's chat! I do a little bit of everything, front-end, back-end, web design, digital marketing, and more!.",
		ogtitle: "Get in touch with Garrett.",
		ogdesc: "Welcome to Garrett Sherman's Personal Website! Garrett Sherman is a Web Developer living in Toronto, Canada.",
		ogurl: "https://garrettsherm.com/contact"
	}
%>
<!DOCTYPE>
<html>
	<head>
		<%= seoTags(seoOptions) %>
		<%= cdnLinks() %>
		<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.contact.css %>">
	</head>
	<body>
		
		<div id="topbar-icons">
			<%= menuIcon() %>
		</div>

		<%= overlayMenu() %>


		<div class="gradient-bg full-height-width">
			<div class="centered-container">
				<div  id="contact-container" class="text-center centered-content">
					<h1 id="title-contact">Let's Chat</h1>
					<div id="social-icons-contact">
						<%= socialIcons() %>
					</div>
				</div>
			</div>	
		</div>

		<script src="<%= htmlWebpackPlugin.files.chunks.contact.entry %>"></script>
	
		</body>
</html>