
<% seoHeaders = require('./partials/head_seo_tags.ejs') %>
<% cdnLinks = require('./partials/head_cdn_links.ejs') %>
<% socialIcons= require('./partials/social_icons.ejs') %>
<% menuIcon= require('./partials/top_menu_icon.ejs') %>
<% overlayMenu= require('./partials/header_menu.ejs') %>

<% 
	seoOptions = {
		title: '404 | Garrett Sherman',
		desc: "Sorry that page could not be found"
	} 
%>

<!DOCTYPE>
<html>
	<head>
		<%= seoHeaders(seoOptions) %>
		<%= cdnLinks() %>

		<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.fourohfour.css %>">

	</head>

	<body>
		<div id="topbar-icons">
			<%= menuIcon() %>
			<%= socialIcons() %>
		</div>

		<%= overlayMenu() %>

		<div class="gradient-bg full-height-width">
			<div class="centered-container">
				<div class="text-center centered-content">
					<h1 id="title-404">404</h1>
					<p id="text-404">Sorry the page could not be found</p>
				</div>
			</div>	
		</div>

		<script src="<%= htmlWebpackPlugin.files.chunks.fourohfour.entry %>"></script>

	</body>

</html>