<% svgBlank = require('./partials/svg_blank.ejs') %>
<% svgDiagonal = require('./partials/svg_diagonal.ejs') %>
<% seoTags= require('./partials/head_seo_tags.ejs') %>
<% cdnLinks= require('./partials/head_cdn_links.ejs') %>
<% socialIcons= require('./partials/social_icons.ejs') %>
<% menuIcon= require('./partials/top_menu_icon.ejs') %>
<% overlayMenu= require('./partials/header_menu.ejs') %>
<% 
	seoOptions = {
		title: 'Garrett Sherman | Full Stack Developer',
		desc: "Welcome to Garrett Sherman's personal website. Garrett Sherman is a Full Stack Developer who lives in Toronto, Canada."
	} 
%>
<!DOCTYPE>
<html>
	<head>
		<%= seoTags(seoOptions) %>
		<%= cdnLinks() %>
		<link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
	</head>
	<body>
		<div id="spinner-overlay">
			<div id="loading-spinner">
				<%= svgDiagonal() %>
			</div>
		</div>

		<div id="topbar-icons">
			<%= menuIcon() %>
			<%= socialIcons() %>
		</div>

		<%= overlayMenu() %>


		<div class="gradient-bg full-height-width">
				<div id="home-container" class="text-center">
					
					<div id="svgAttributes">
						<%= svgBlank() %>
					</div>

					<div id="name-animate-container">
						<h1 id="name-animate">
								<span class="word">Garrett</span>
								<span class="word">Sherman</span>
							</span>
						</h1>
					</div>

					<div id="desc-animate-container">
						<h2 id="desc-animate">
							<span class="text-wrapper">
								<span class="line line1"></span>
								<span class="letters">Full Stack Developer</span>
							</span>
						</h2>
					</div>

					<div id="button-animate-container">
							<div id="button-animate" class="button-pulse">
								<a href="https://www.linkedin.com/in/gsherm/" target="_blank">
									Contact
								</a>
							</div>
					</div>

				</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script> 
		<script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
	
		</body>
</html>