<% 
	seoOptions = {
		title: 'Projects | Garrett Sherman - Web Developer Toronto',
		desc: "Some of my work. HTML, CSS, Javascript, Jquery WordPress, MySQL, E-commerce, SSL, Javascript, Node.js, Shopify, CMS, Docker, React + Redux.",
		ogtitle: "Projects by Garrett Sherman",
		ogdesc: "HTML, CSS, Javascript, Jquery WordPress, MySQL, E-commerce, SSL, Javascript, Node.js, Shopify, CMS, Docker, React + Redux.",
		ogurl: "https://garrettsherm.com/projects"
	} 
%>
<!DOCTYPE html>
<html>
	<head>
		<%- include('partials/head_seo_tags', seoOptions) %>		
		<%- include('partials/head_cdn_links') %>
		<%- include('partials/links/projects-css') %>
	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSLTL5N"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<div id="topbar-icons">
			<%- include('partials/top_menu_icon') %>
			<%- include('partials/social_icons') %>
		</div>
		
		<%- include('partials/header_menu') %>

		<div id="projects-title-bg">
			<div class="container">
				<div id="projects-title" class="row">
					<div class="col-md-12 text-center">
						<h1>Some of My Work</h1>
						<div id="projects-buttons-container">
							<div id="button-projects-work" class="button-plain button-min">
								Work
							</div>
							<div id="button-projects-personal" class="button-plain button-min">
								Personal
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="work-projects-container" class="project-type-container">
			<div class="project-type-title">
				<div class="col-md-12 text-center">
					<h2>Work</h2>
				</div>
			</div>
			<div class="container">
				<% projects.forEach(function(project, i){ %>
					<%- include('partials/project-card', {project: project, i: i}) %>
				<% }); %>					
			</div>
		</div>

		<div class="project-cta-container">
			<div class="project-cta-title">
				<div class="col-md-12 text-center">
					<h2>Need a website?</h2>
						<div id="projects-buttons-container">
							<div class="button-plain">
								<a href="/contact">
									Let's Chat
								</a>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div id="personal-projects-container" class="project-type-container">
			<div class="project-type-title">
				<div class="col-md-12 text-center">
					<h2>Personal</h2>
				</div>
			</div>
			<div class="container">
				<% personalProjects.forEach(function(project, i){ %>
					<%- include('partials/project-card', {project: project, i: i}) %>
				<% }); %>			
			</div>
		</div>

		<div class="project-cta-container grey-bg">
			<div class="project-cta-title">
				<div class="col-md-12 text-center">
					<h2>Follow me on Github</h2>
						<div id="projects-buttons-container">
							<a href="https://github.com/garrettsherm/" target="_blank">
								<span class="social-icon-all project-github-icon ">
									<i class="fa fa-github"></i>
								</span>
							</a>
						</div>
				</div>
			</div>
		</div>
		
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js" integrity="sha256-BuxrUdr/4YoztQLxT6xmdO6hSQw2d6BtBUY1pteGds4=" crossorigin="anonymous"></script> 	
		<%- include('partials/links/projects-js') %>

	</body>
</html>